
<div class="user">
    <p>
      <%if defined?(@userbyemail)%>
      <%@userbyemail.each do |item|%>
      <strong><%=item.try(:email)  %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => item), :method => :post %>
      <br>
      <%end%>
      <% else %>
      <strong>No user found ...</strong>
      <%end %>
      <div class="clear"></div>
    </p>


  </div>
