<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="container text-center">
  <h1>Homepage</h1>
</div>

<div>
<%= link_to "Create Post", new_post_path %>
</div>

<div class="row">
  <%= render  'posts/search/search_form' %>
</div>
<div id="main-content" class="col-sm-9">
<%= render @posts %>
</div>

</body>
</html>
