<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="container text-center">
  <br/><br/>
  <h1>Homepage</h1><br/>

  <%= link_to "Create Post", new_post_path, class: 'float-left btn btn-outline-secondary h4 mb-4 ' %>
  <div class="form-inline">
    <%= render  'posts/search/search_form' %>
  </div>
  <hr>
<table>
  <% @posts.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |post| %>
        <td>
          <%= render post %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
</body>
</html>
