<div class="container">
  <h3><strong>Interested Users</strong></h3>
  <%if defined?(@interestedUsers)%>
  <%@interestedUsers.each do |item|%>
  <strong><%=item.try(:email)  %></strong>
  <br>
  <%end%>
  <%end%>
</div>
